[user]
name = Matthias Kuklinski
email = contact@matthias-kuklinski.com

[init]
defaultBranch = main

[core]
editor = nvim

[alias]
a = add
af = add -f
ap = add -p
c = commit -m
d = diff
p = push
r = restore
rs = restore --staged
s = status
